* {
  box-sizing: border-box;
  text-align: center;
}

input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #c1ee6d;
  padding: 20px;
  color: #a7e475
}
/* Style for the entire page background */
body {
  background-color: #5a9268;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style for the header */
header {
  background-color: #0c110b;
  color: rgb(4, 5, 4);
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Style for the rest of the page content */
.container {
  padding: 20px;
}

/* Style for the form and table */
form, table {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(70, 214, 70);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(196, 62, 10, 0.781);
}

/* Style for form inputs and table headers */
input[type="text"], input[type="date"], input[type="number"], select {
  width: calc(25% - 20px);
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #191b13;
  color: rgb(17, 17, 14);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
